@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
/* 
font-family: 'Inter', sans-serif;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}

.carousel {
    overflow: hidden;
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}
img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}