@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: indianred;
    color: white;
}